body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

img {
    margin: auto;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

hr {
    width: 100%;
    color: #2d3c49;
}

svg {
    align-content: center;
}
